{
  "extends": "standard",
  "env": {
    "browser": true
   },
  "parserOptions": {
        "ecmaVersion": 3 # ECMAScript 3 is fully supported in all browsers.
   },
  "plugins": [
        "html"
   ],
  "rules": {
  }
}
