<h1>Port Element Tab: Border Card</h1>
<specs-tab background>
        <button slot="title">User</button>
        <button slot="title" selected>Config</button>
        <button slot="title">Role</button>
        <button slot="title">Task</button>

        <!-- Any tag can be used here for text, just need to be in-order -->
        <section>User</section>
        <section>Config</section>
        <section>Role</section>
        <section>Task</section>
</specs-tab>
      
<script src="./SpecsTab.js"></script>
