<!DOCTYPE html>

<h1> Default value of 0 within range from 0 to 100 </h1>
<custom-slider></custom-slider>

<h1> Value of 50 within range from 5 to 105 </h1>
<custom-slider min="5" max="105" value="50"></custom-slider>

<h1> Have the slider disabled </h1>
<custom-slider min="5" max="105" value="50" disabled></custom-slider>

<h1> Show the Input Box </h1>
<custom-slider min="5" max="105" value="50" show_input></custom-slider>

<h1> Change the size of the input box to Large </h1>
<custom-slider min="5" max="105" value="50" size="L" show_input></custom-slider>

<script src="Slider.js">
</script>




