<p>The slider with default value 0 within range of 0 to 100: </p>
<div class="slidecontainer">
    <input type="range" min="0" max="100" value="0" class="slider" id="myRange">
</div>

<p>Customized initial value of 50 within range of 0 to 100: </p>
<div class="slidecontainer">
    <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
</div>

<p>The slider within the range of 0 to 1: </p>
<div class="slidecontainer">
    <input type="range" min="0" max="1" value="0" class="slider" id="myRange">
</div>





