<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Team SPECS</title>
    <link rel="shortcut icon" href="../logo.png" type="image/x-icon" />

    <style>
        .main-header {
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .main-header-component {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <script src='../CustomButton/CustomButton.js'></script>
    <script src='./CustomPopover.js'></script>
    <div class="main-header">
        <div class="main-header-component">
            <h1>Team 3's Popover Component!</h1>
        </div>
        <h2 style='text-align: center'>&lt;custom-popover&gt;</h2><br />
        <div class="main-header-component">
            <custom-button class='btn-success' id='theAnchor'><custom-popover anchor='theAnchor' placement='left'>Popover Body Text</custom-popover>Click Me</custom-button>

        </div>
    </div>
</body>

</html>