<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" href="Main.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Team SPECS</title>
   <link rel="shortcut icon" href="../logo.png" type="image/x-icon">
</head>

<body>
   <div class="main-header">
      <div class="main-header-component">
         <img class="main-image" src="../logo.png" alt="logo">
      </div>
      <div class="main-header-component">
         <h1>Hello world! commit linting added!</h1>
      </div>
      <img src="https://http.cat/402" class="img" alt="cat" />
   </div>
</body>

<script src="./Main.js">
</script>

</html>
