.main-header {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.main-header-component {
	display: flex;
	justify-content: center;
}

.img {
	margin-left: auto;
	margin-right: auto;
}