<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" href="CoreHello.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Team SPECS</title>
   <link rel="shortcut icon" href="../logo.png" type="image/x-icon">
</head>

<body>
   <div class="main-header">
      <div class="main-header-component">
         <h1>Team 3's Excessively Simplistic Core Component!</h1>
      </div>
      <div class="main-header-component">
         <h2><core-hello rainbow>Alex</core-hello></h2>
      </div>
   </div>
</body>

<script src="./CoreHello.js">
</script>

</html>
