<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Team SPECS</title>
    <link rel="shortcut icon" href="../logo.png" type="image/x-icon" />

    <style>
        .main-header {
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .main-header-component {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <script src="./CustomButton.js"></script>
    <div class="main-header">
        <div class="main-header-component">
            <h1>Team 3's Revolutionary New Button Component!</h1>
        </div>
        <div style='margin-left: 10%'>
            <h2>rounded attribute:</h2>
            <custom-button rounded>Click Me</custom-button>
            <h2>circle attribute:</h2>
            <custom-button circle>Click Me</custom-button>
            <h2>href attribute:</h2>
            <custom-button href='https://stackoverflow.com' width='320px' height='180px'>Click Here to See Our Savior</custom-button>
            <h2>Bootstrap Support!</h2>
            <table><tr>
            <td><custom-button class='btn-primary' width='112px' height='63px'>Primary</custom-button></td>
            <td><custom-button class='btn-secondary' width='112px' height='63px'>Secondary</custom-button></td>
            <td><custom-button class='btn-success' width='112px' height='63px'>Success</custom-button></td>
            <td><custom-button class='btn-info' width='112px' height='63px'>Info</custom-button></td>
            <td><custom-button class='btn-warning' width='112px' height='63px'>Warning</custom-button></td>
            <td><custom-button class='btn-danger' width='112px' height='63px'>Danger</custom-button></td>
            <td><custom-button class='btn-dark' width='112px' height='63px'>Dark</custom-button></td>
            </tr></table>
        </div>
    </div>
</body>

</html>