<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Team SPECS</title>
    <link rel="shortcut icon" href="../logo.png" type="image/x-icon" />

    <!-- import Bootstrap libs to test compatibility -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        .main-header {
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .main-header-component {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <script src="./CustomButton.js"></script>
    <div class="main-header">
        <div class="main-header-component">
            <h1>Team 3's Revolutionary New Button Component!</h1>
        </div>
        <div class="main-header-component">
            <custom-button class='btn btn-info' rounded>Click Me</custom-button></custom-button>
        </div>
    </div>
</body>

</html>